@font-face {
  font-family: Hind Siliguri;
  src: url("../fonts/HindSiliguri-Regular.ttf") format(truetype);
  font-size: 300;
}
@font-face {
  font-family: Hind Siliguri;
  src: url("../fonts/HindSiliguri-Regular.ttf") format(truetype);
  font-size: 400;
}
@font-face {
  font-family: Hind Siliguri;
  src: url("../fonts/HindSiliguri-Medium.ttf") format(truetype);
  font-size: 500;
}
@font-face {
  font-family: Hind Siliguri;
  src: url("../fonts/HindSiliguri-SemiBold.ttf") format(truetype);
  font-size: 600;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Hind Siliguri;
  overflow-x: hidden;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  padding-top: 30px;
}
.header__title ul {
  padding-top: 33px;
  display: flex;
  gap: 40px;
}
.header__title li {
  display: flex;
  gap: 8px;
}
.header__title img {
  cursor: pointer;
}
.header__title a {
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  color: #030D15;
}
.header__items {
  display: flex;
  gap: 30px;
}
.header__search {
  padding-top: 35px;
  cursor: pointer;
}
.header__basket {
  padding-top: 30px;
  cursor: pointer;
}
.header__profile {
  padding-top: 25px;
  cursor: pointer;
}

.first__section {
  max-width: 1600px;
  margin: 0 auto;
  max-height: 911px;
  padding-top: 54px;
}

.first__container {
  width: 1236px;
  height: 811px;
  margin: 0 auto;
  padding-left: 50px;
  position: relative;
}
.first__container .first__side {
  padding-top: 75px;
}
.first__container .first__side h2 {
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.145em;
  color: #C72535;
  text-transform: uppercase;
}
.first__container .first__side h3 {
  padding-top: 12px;
  font-family: Hind Siliguri;
  font-size: 61px;
  font-weight: 400;
  line-height: 73px;
  color: #030D15;
}
.first__container .first__side span {
  background-color: #c6e3fa;
  font-family: Hind Siliguri;
  font-size: 60px;
  font-weight: 600;
  line-height: 73px;
  color: #1769a8;
}
.first__container .first__side p {
  padding-top: 29px;
  font-family: Hind Siliguri;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  color: #030D15;
}
.first__container .first__shop {
  display: flex;
}
.first__container .first__button {
  padding-top: 36px;
}
.first__container .first__button button {
  border: none;
  width: 151px;
  height: 58px;
  color: #FFFFFF;
  background-color: #247CC0;
  cursor: pointer;
}
.first__container .first__button button:hover {
  transform: scale(1.1);
}
.first__container .first__shop h4 {
  padding-top: 51px;
  padding-left: 31px;
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}
.first__container .first__shop h5 {
  padding-top: 51px;
  padding-left: 18px;
  color: #030D15;
  text-align: center;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  opacity: 0.5;
}
.first__container .card {
  z-index: 2;
  position: absolute;
  padding: 76px 118px;
  display: flex;
  gap: 84px;
  background-color: #fff;
  width: 1140px;
  height: 237px;
  bottom: 0;
  box-shadow: 0px -1.73968px 1.20532px 0px rgba(174, 174, 174, 0.02), 0px 0.19008px 4.14347px 0px rgba(174, 174, 174, 0.03), 0px 6.77214px 9.61331px 0px rgba(174, 174, 174, 0.04), 0px 19.8401px 19.14056px 0px rgba(174, 174, 174, 0.05), 0px 43.751px 36.44142px 0px rgba(174, 174, 174, 0.06), 0px 100px 80px 0px rgba(174, 174, 174, 0.08);
}
.first__container .second__side_img {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 630px;
}

.second__section {
  max-width: 1600px;
  height: 885px;
  margin: 0 auto;
  padding-top: 110px;
}

.second__container {
  width: 1140px;
  max-height: 745px;
  margin: 0 auto;
  position: relative;
}
.second__container .first__basket {
  position: absolute;
  left: 233.5px;
  top: -15px;
  cursor: pointer;
}
.second__container .second__basket {
  position: absolute;
  right: 273.5px;
  top: -15px;
  cursor: pointer;
}
.second__container .card__row {
  display: flex;
  gap: 37px;
}
.second__container .card {
  width: 548px;
  height: 248px;
  border: none;
  display: flex;
  gap: 30px;
}
.second__container .card__second_side h3 {
  padding-top: 31.5px;
  font-family: Hind Siliguri;
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  color: #030D15;
}
.second__container .card__second_side p {
  padding-top: 9px;
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #030D15;
  opacity: 60%;
}
.second__container .card__price {
  display: flex;
  gap: 2px;
}
.second__container .card__price h4 {
  padding-top: 20px;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  color: #030D15;
}
.second__container .card__price p {
  padding-top: 24px;
  color: #030D15;
  opacity: 50%;
}
.second__container .card__price h5 {
  padding-top: 20px;
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
  color: #030D15;
  opacity: 50%;
}
.second__container .card__stars {
  padding-top: 15px;
}
.second__container .rectangle__row {
  padding-top: 160px;
  display: flex;
  gap: 30px;
}
.second__container .rectangle {
  width: 555px;
  height: 296px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(257deg, #008BF0 -13.2%, #D943C9 130.95%);
}
.second__container .rectangle p {
  padding-top: 75px;
  padding-left: 35px;
  color: #F4F9FC;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  text-transform: uppercase;
}
.second__container .rectangle h2 {
  padding-top: 5px;
  padding-left: 35px;
  color: #F4F9FC;
  font-family: Hind Siliguri;
  font-size: 31px;
  font-weight: 600;
  line-height: 40.3px;
}
.second__container .rectangle h3 {
  padding-top: 7px;
  padding-left: 35px;
  color: #F4F9FC;
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 500;
  line-height: 27px;
  text-transform: uppercase;
}
.second__container .drone {
  position: absolute;
  left: 252px;
  top: 390px;
}
.second__container .camera {
  position: absolute;
  right: 7px;
  top: 440px;
}

.third__section {
  max-width: 1600px;
  height: 930px;
  margin: 0 auto;
  padding-top: 111px;
}

.third__container {
  width: 1235px;
  height: 870px;
  margin: 0 auto;
  position: relative;
}

.woman__picture img {
  background: url(../images/Vector.png), #247CC0 0px 0.243px/70% 40.06% no-repeat;
  border-radius: 37%;
  position: absolute;
  z-index: 4;
  top: -50px;
}

.title__section {
  position: absolute;
  left: 715px;
  top: 0;
}

.title {
  color: #C72535;
  opacity: 0.6;
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.03px;
  text-transform: uppercase;
}

.descr {
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 44px;
  font-weight: 600;
}

.descr__section {
  position: absolute;
  width: 1600px;
  height: 632px;
  top: 121px;
  left: -180px;
  background-color: #F4F9FC;
}

.descr__section p {
  padding-top: 84px;
  padding-left: 895px;
  color: #030D15;
  opacity: 0.6;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.facts {
  padding-top: 45px;
  padding-left: 895px;
}

.first__fact {
  display: flex;
  gap: 13px;
}

.second__fact {
  display: flex;
  gap: 13px;
}

.second__fact h3 {
  padding-top: 20px;
}

.second__fact img {
  padding-bottom: 10px;
}

.third__fact {
  display: flex;
  gap: 13px;
}

.third__fact h3 {
  padding-top: 20px;
}

.third__fact img {
  padding-top: 20px;
}

.forth__fact {
  display: flex;
  gap: 13px;
}

.forth__fact h3 {
  padding-top: 20px;
}

.forth__fact img {
  padding-top: 20px;
}

.last__fact {
  display: flex;
  gap: 13px;
}

.last__fact h3 {
  padding-top: 20px;
}

.last__fact img {
  padding-top: 20px;
}

.forth__section {
  max-width: 1600px;
  height: 1450px;
  margin: 0 auto;
}

.forth__container {
  width: 1140px;
  height: 1320px;
  margin: 0 auto;
  position: relative;
}

.forth__container p {
  padding-top: 60px;
  color: #C72535;
  text-align: center;
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.6;
  letter-spacing: 2.03px;
  text-transform: uppercase;
}

.forth__container h3 {
  color: #030D15;
  text-align: center;
  font-family: Hind Siliguri;
  font-size: 44px;
  font-weight: 600;
}

.forth__container ul {
  padding-top: 22px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.forth__container a {
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 14px;
  opacity: 0.6;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.forth__container a:hover {
  color: #C72535;
  opacity: 1;
}

.product__row {
  padding-top: 50px;
  display: flex;
  gap: 30px;
}

.product__card {
  width: 360px;
  height: 343px;
  background: #FFF;
  box-shadow: 0px 2.76726px 2.21381px 0px rgba(191, 191, 191, 0.02), 0px 6.6501px 5.32008px 0px rgba(191, 191, 191, 0.03), 0px 12.52155px 10.01724px 0px rgba(191, 191, 191, 0.04), 0px 22.33631px 17.86905px 0px rgba(191, 191, 191, 0.04), 0px 41.77761px 33.42209px 0px rgba(191, 191, 191, 0.05), 0px 100px 80px 0px rgba(191, 191, 191, 0.07);
}

.product__card h2 {
  left: 35px;
  top: 290px;
  z-index: 9;
  position: absolute;
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.product__img {
  z-index: 8;
  position: absolute;
  left: 37px;
  top: 280px;
}

.card__body {
  position: absolute;
  top: 594px;
  width: 360px;
  height: 160px;
  background-color: #FAFAFA;
}

.card__icons {
  padding-top: 28px;
  display: flex;
  justify-content: center;
  gap: 70px;
}

.card__icons img {
  cursor: pointer;
}

.card__items {
  display: flex;
  gap: 75px;
}

.card__items_price {
  padding-left: 35px;
  display: flex;
  gap: 2px;
}

.card__items_price h3 {
  padding-top: 42px;
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-style: normal;
  line-height: 27px;
}

.card__items_price img {
  padding-top: 42px;
}

.card__items_price h4 {
  padding-top: 41px;
  color: #030D15;
  opacity: 0.5;
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
}

.card__items_stars {
  padding-left: 35px;
}

.items__row2 {
  padding-top: 59px;
}

.product__cart {
  width: 360px;
  height: 503px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFF;
}

.product__cart h2 {
  padding-top: 35px;
  padding-left: 35px;
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.product__column {
  padding-top: 12px;
  padding-left: 58px;
}

.product__cart h3 {
  padding-right: 55px;
  padding-top: 72px;
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 25px;
  font-weight: 600;
}

.product__keyboard {
  padding-top: 50px;
  padding-left: 47px;
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 25px;
  font-weight: 600;
}

.product__keyboard h3 {
  padding-top: 120px;
  padding-right: 160px;
}

.value__row {
  display: flex;
  padding-left: 35px;
  gap: 2px;
}

.value__row h4 {
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
}

.value__row h5 {
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  line-height: 27px;
}

.value__stars {
  padding-left: 35px;
}

.product__cart2 {
  width: 360px;
  height: 503px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFF;
}

.product__cart2 h2 {
  padding-top: 35px;
  padding-left: 35px;
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.product__column2 {
  padding-top: 50px;
  padding-left: 47px;
}

.product__cart2 h3 {
  padding-right: 140px;
  padding-top: 126px;
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 25px;
  font-weight: 600;
}

.value__row2 {
  display: flex;
  padding-left: 35px;
  gap: 2px;
}

.value__row2 h4 {
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
}

.value__row2 h5 {
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  line-height: 27px;
}

.value__stars2 {
  padding-left: 35px;
}

.product__row2 {
  padding-top: 30px;
  display: flex;
  gap: 30px;
}

.product__cart3 {
  width: 360px;
  height: 503px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFF;
}

.product__cart3 h2 {
  padding-top: 35px;
  padding-left: 35px;
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.product__column4 {
  position: absolute;
  top: 815px;
  left: 15px;
}

.product__column5 {
  position: absolute;
  top: 835px;
  left: 420px;
}

.product__column6 {
  padding-top: 49px;
  padding-left: 47px;
}

.product__cart3 h3 {
  padding-top: 316px;
  padding-left: 35px;
  font-family: Hind Siliguri;
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  color: #030D15;
  text-align: left;
}

.value__row3 {
  display: flex;
  padding-left: 35px;
  gap: 2px;
}

.value__row3 h5 {
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
  color: #030D15;
  opacity: 0.5;
}

.value__stars3 {
  padding-left: 35px;
}

.product__cart4 {
  width: 360px;
  height: 503px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFF;
}

.product__cart4 h2 {
  padding-left: 35px;
  padding-top: 35px;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  color: #030D15;
}

.product__cart4 h3 {
  padding-top: 316px;
  padding-left: 35px;
  font-family: Hind Siliguri;
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  color: #030D15;
  text-align: left;
}

.value__row4 {
  display: flex;
  padding-left: 35px;
  gap: 2px;
}

.value__row4 h5 {
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
  color: #030D15;
  opacity: 0.5;
}

.value__stars4 {
  padding-left: 35px;
}

.product__cart5 {
  width: 360px;
  height: 503px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFF;
}

.product__cart5 h3 {
  padding-top: 68px;
  padding-left: 35px;
  font-family: Hind Siliguri;
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  color: #030D15;
  text-align: left;
}

.value__row5 {
  display: flex;
  padding-left: 35px;
  gap: 2px;
}

.value__row5 h5 {
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
  color: #030D15;
  opacity: 0.5;
}

.value__stars5 {
  padding-left: 35px;
}

.view {
  padding-top: 56px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.view__text {
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  color: #030D15;
  text-transform: uppercase;
}

.fifth__section {
  max-width: 1600px;
  height: 1220px;
  margin: 0 auto;
}

.fifth__container {
  width: 1140px;
  height: 1014;
  position: relative;
  margin: 0 auto;
}

.first__box {
  position: absolute;
  top: 268px;
  left: 0;
  width: 360px;
  height: 330px;
  background: #fff;
  box-shadow: 0px 2.76726px 2.21381px 0px rgba(192, 192, 192, 0.02), 0px 6.6501px 5.32008px 0px rgba(192, 192, 192, 0.03), 0px 12.52155px 10.01724px 0px rgba(192, 192, 192, 0.04), 0px 22.33631px 17.86905px 0px rgba(192, 192, 192, 0.04), 0px 41.77761px 33.42209px 0px rgba(192, 192, 192, 0.05), 0px 100px 80px 0px rgba(192, 192, 192, 0.07);
}

.box__row {
  padding-top: 35px;
  padding-left: 35px;
  display: flex;
  gap: 2px;
}

.box__row_title {
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
}

.box__row_descr {
  color: #030D15;
  opacity: 0.5;
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
}

.stars3 {
  position: absolute;
  z-index: 78;
  padding-left: 35px;
}

.card__icons2 {
  display: flex;
  padding-top: 195px;
  justify-content: center;
  gap: 70px;
}

.card__icons2 img {
  cursor: pointer;
}

.phone {
  position: absolute;
  z-index: 77;
  top: 70px;
  left: 67px;
}

.second__box {
  position: absolute;
  top: 268px;
  left: 390px;
  width: 360px;
  height: 252px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

.second__box img {
  padding: 18px 26px;
}

.third__box {
  position: absolute;
  top: 268px;
  right: 0;
  width: 360px;
  height: 432px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

.third__box img {
  padding-top: 36px;
  padding-left: 26px;
}

.forth__box {
  position: absolute;
  top: 629px;
  left: 0;
  width: 360px;
  height: 456px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

.forth__box img {
  padding-top: 53px;
  padding-left: 30px;
}

.fifth__box {
  position: absolute;
  top: 550px;
  left: 390px;
  width: 360px;
  height: 252px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

.sixth__box {
  position: absolute;
  top: 833px;
  left: 390px;
  width: 360px;
  height: 252px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

.sixth__box img {
  padding: 27px 39px;
}

.last__box {
  position: absolute;
  top: 730px;
  right: 0;
  width: 360px;
  height: 354px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

.fifth__container h3 {
  padding-left: 510px;
  padding-top: 56px;
  color: #C72535;
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.03px;
  opacity: 0.6;
  text-transform: uppercase;
}

.fifth__container h2 {
  color: #030D15;
  text-align: center;
  font-family: Hind Siliguri;
  font-size: 44px;
  font-weight: 600;
}

.fifth__container h4 {
  padding-top: 7px;
  color: #030D15;
  text-align: center;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
  line-height: 24px;
}

.last__section {
  max-width: 1600px;
  height: 310px;
  background-color: #F4F9FC;
  margin: 0 auto;
}

.last__container {
  width: 1140px;
  height: 310px;
  margin: 0 auto;
  position: relative;
}

.last__row {
  display: flex;
  justify-content: space-between;
}

.last__title {
  padding-top: 100px;
}

.last__title h3 {
  color: #C72535;
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.03px;
  opacity: 0.6;
  text-transform: uppercase;
}

.last__title h2 {
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 25px;
  font-weight: 500;
}

.last__title p {
  padding-top: 8px;
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 14px;
  opacity: 0.6;
  font-weight: 400;
  line-height: 21px;
}

.last__input {
  padding-top: 130px;
}

.last__input input {
  width: 457px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFF;
}

.last__input input[placeholder] {
  padding-left: 26px;
}

.last__input input::-moz-placeholder {
  color: #030D15;
  font-family: Hind Siliguri;
  opacity: 0.4;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.last__input input::placeholder {
  color: #030D15;
  font-family: Hind Siliguri;
  opacity: 0.4;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.last__button {
  position: absolute;
  top: 130px;
  right: 0;
}

.last__button button {
  width: 122px;
  height: 50px;
  border: none;
  background-color: #247CC0;
  color: #FFFFFF;
  text-align: center;
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.footer {
  max-width: 1600px;
  height: 396px;
  background-color: #030D15;
  margin: 0 auto;
}

.footer__container {
  width: 1140px;
  height: 396px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.first__frow {
  padding-top: 80px;
}

.first__frow p {
  padding-top: 22px;
  color: #FFFFFF;
  font-family: Hind Siliguri;
  font-size: 14px;
  opacity: 0.6;
  font-weight: 400;
}

.second__frow {
  padding-top: 75px;
  padding-left: 32px;
}

.second__frow p {
  color: #FFFFFF;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 600;
}

.second__frow ul {
  padding-top: 11px;
}

.second__frow li {
  padding-top: 15px;
}

.second__frow a {
  color: #FFFFFF;
  font-family: Hind Siliguri;
  font-size: 14px;
  opacity: 0.6;
  font-weight: 400;
}

.third__frow {
  padding-top: 75px;
  padding-left: 32px;
}

.third__frow p {
  color: #FFFFFF;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 600;
}

.third__frow ul {
  padding-top: 11px;
}

.third__frow li {
  padding-top: 15px;
}

.third__frow a {
  color: #FFFFFF;
  font-family: Hind Siliguri;
  font-size: 14px;
  opacity: 0.6;
  font-weight: 400;
}

.forth__frow {
  padding-top: 75px;
  padding-left: 32px;
}

.forth__frow p {
  color: #FFFFFF;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 600;
}

.forth__frow ul {
  padding-top: 11px;
}

.forth__frow li {
  padding-top: 15px;
}

.forth__frow a {
  color: #FFFFFF;
  font-family: Hind Siliguri;
  font-size: 14px;
  opacity: 0.6;
  font-weight: 400;
}

.last__frow {
  padding-left: 20px;
}

.last__frow p {
  padding-top: 75px;
  color: #FFFFFF;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 600;
}

.last__frow h3 {
  padding-top: 26px;
  color: #FFFFFF;
  font-family: Hind Siliguri;
  font-size: 14px;
  opacity: 0.6;
  font-weight: 400;
}

.last__frow h2 {
  padding-top: 14px;
  color: #FFFFFF;
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 500;
}

.social__media {
  padding-top: 16px;
  display: flex;
  gap: 25px;
}

.language {
  padding-top: 70px;
  display: flex;
  gap: 65px;
}

.language img {
  cursor: pointer;
}

.languages {
  position: absolute;
  top: 256px;
  right: 198px;
  color: #030D15;
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */